---
import { Image } from 'astro:assets';

// Props for the component
interface Props {
  avatarUrl: string;
  nickname: string;
  message: string;
  socialLink: string;
}

const { avatarUrl, nickname, message, socialLink } = Astro.props;
---

<div class="main flex items-center p-4 
  border rounded-lg max-w-md shadow-md">
  <div class="mr-4 flex-shrink-0">
    <Image 
      width={64}
      height={64}
      src={avatarUrl}
      alt={`${nickname}'s avatar`}
      class="rounded-full object-cover"
    />
  </div>
  <div class="flex flex-col">
    <a href={socialLink} target="_blank" class="font-semibold text-[var(--sl-color-accent)] hover:underline">
      @{nickname}
    </a>
    <p class="text-[var(--sl-color-gray-3)]">
      {message}
    </p>
  </div>
</div>

<style>
  .main{
    border-color: var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
  }

  .main:hover{
    border-color: var(--sl-color-gray-4);
  }
</style>
